@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

* {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

body {
    font-family: 'Press Start 2P', 'Silkscreen', monospace;
    font-size: 12px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}



